@charset "UTF-8";

body > .container {
	width: 80%;
}

#mainFrame > #sideMenuBar {
	margin-right: 20px;
	margin-top: 20px;
}

#sideMenuBar > .menuSection {
	margin-bottom: 20px;
}

.menuSection > * {
	padding: 0 10px;
}

.menuSection > .menuTitle {
	border-bottom: 2px solid #666;
	margin: 5px 0;
}

.menuTitle > .menuTitleBody {
	margin: 0;
	padding: 5px 0;
	font-size: 1.2em;
	font-weight: bold;
}

.menuTitle > .menuTitleBody:hover {
	cursor: pointer;
}

.menuList {
	padding: 10px 0;
}

.menuList > li {
	list-style: none;
	margin-left: 15px;
}

#sideMenuBar a {
	color: #333;
}

#sideMenuBar a:hover {
	text-decoration: none;
}

span.ctgCount {
	font-size: 0.8em;
	color: #aaa;
}

#sizeList, #colorList {
	margin-bottom: 10px;
	margin-left: 15px;
}

#sizeList > li, #colorList > li {
	border: 1px solid #ddd;
	display: inline-block;
	margin: 0 8px 10px 0;
}

#sizeList > .listHasError, #colorList > .listHasError {
	border: none;
}

#sizeList > .listHasError:hover, #colorList > .listHasError:hover {
	border: none;
}

#sizeList > li > a {
	display: block;
	padding: 5px 10px;
	font-size: 1.2em;
}

#colorList > li > a {
	display: block;
	padding: 15px 15px;
	border: 1px solid #ddd;
}

#colorList .filterToggled {
	border-bottom: 1px solid #ddd;
	box-shadow: 1px 0 1px #666, 0 1px 1px #666, -1px 0 1px #666, 0 -1px 1px #666;
}

#sizeList > li:hover, #colorList > li:hover {
	border: 1px solid black;
}

#sizeList > li:last-child, #colorList > li:last-child {
	clear: right;
}

a#resetCategory {
	font-size: 1.2em;
	font-weight: bold;
}

.filterToggled {
	font-weight: bold;
	border-bottom: 2px double #666;
	color: #1c3d62;
}
