@charset "UTF-8";
/* 
#mainFrame > * {
	display: inline-block;
} */

body > .container {
	width: 80%;
}
#mainFrame > #sideMenuBar {
	margin-right: 20px;
	margin-top: 20px;
}

.prodContainer {
	width: 200px;
	margin: 20px 10px;
	display: inline-block;
}

.prodEvent {
	margin: 5px 0;
	border-bottom: 1px dotted #ccc;
	padding-bottom: 5px;
}

.prodStat {
	font-size: 0.6em;
	display: inline-block;
	margin: 0 3px;
	padding: 2px 5px;
	font-weight: bold;
	color: white;
}

.prodStat_hot {
	background-color: #C75252;
}

.prodStat_new {
	background-color: #315F97;
}

.prodStat_dc {
	background-color: #4F7529;
}

.prodName {
	font-weight: bold;
	font-size: 1.1em;
}

.prodCtg {
	color: #aaa;
}

.priceSection {
	margin-top: 5px;
}

.prodPrice {
	font-size: 1.2em;
	display: block;
}

.prodPrice_normal, .prodPrice_discount {
	font-weight: bold;
}

.prodPrice_depricate {
	font-weight: normal;
	text-decoration: line-through;
	color: #777;
	font-size: 0.8em;
}

.prodPrice_discount {
	color: #C73232;
}

.emptyResult {
	margin: 200px 0;
}